<!DOCTYPE html>
<html>
  <head>
    <title>Phobrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <aside class="realtime-informer"></aside>
    <div class="wrapper">
      <div class="container">
        <header>
          <h1>Phobrary</h1>
          <h2>My own photo library</h2>
        </header>
        <%= yield %>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
